
@font-face {
  font-family: 'Lalezar-Regular';
  src: url('Lalezar-Regular.eot?#iefix') format('embedded-opentype'),  url('Lalezar-Regular.woff') format('woff'), url('Lalezar-Regular.ttf')  format('truetype'), url('Lalezar-Regular.svg#Lalezar-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
